:root {
  --color-light: #fff;
  --color-gray: #f5f5f5;
  --color-dark: #111;

  --color-red: #ff8458;
  --color-green: #00e88f;
  --color-blue: #9eebff;
  --color-violet: #d8bcff;
  --color-lime: #d9ff70;
  --color-orange: #ffd86b;
  --color-yellow: #ffe95a;

  --border-5: 5px solid var(--color-dark);
  --border-4: 4px solid var(--color-dark);
  --border-3: 3px solid var(--color-dark);

  --shadow: 14px 14px var(--color-dark);
  --shadow-small: 10px 10px var(--color-dark);

  --transition-duration: 0.2s;
}
