:root {
  --color-light: #fff;
  --color-gray: #f5f5f5;
  --color-dark: #111;

  --color-red: #ff8458;
  --color-green: #00e88f;
  --color-blue: #9eebff;
  --color-violet: #d8bcff;
  --color-lime: #d9ff70;
  --color-orange: #ffd86b;
  --color-yellow: #ffe95a;
}
