.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  border-bottom: var(--border-5);
}

.header__logo {
  font-weight: 800;
  font-size: 30px;
}

.header__menu-list {
  display: flex;
  column-gap: 12px;
}

.header__menu-link {
  font-weight: 700;
  font-size: 16px;
  padding: 12px 16px;
  border: var(--border-3);
}
